body {
    margin: 0px;
    font-family: sans-serif;
    background: #8640B7;
    background: linear-gradient(180deg, #8640B7, #2135E1) no-repeat;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(253, 252, 255);
    padding: 1.5rem;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
}

.sub-task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 50px;
}

.sub-task-list li {
    display: block;
    width: 100%;
    border: 1px solid #000;
    padding: 20px;
}